<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
<div class="topnav" id="myTopnav">
	<a href="/Index.php">Home</a>
	<!--<a href="/AnnotationChart.php">Annotation Chart</a>-->
	<a href="/TempChart.php">Temp Charts</a>
	<a href="/EggStats.php">Egg Stats</a>
	<a href="/FeedStats.php">Feed Stats</a>
	<a href="/piCam/Index.php">Live</a>
	<a href="/admin/Index.php">Admin</a>
	<a href="/About.php"><img src="/images/32px-Chicken_closeup.png" style="margin: 0px 0px"></a>
	<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div> 